.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #818cf8;
  box-shadow: 0 0 0 0 #818df89b;
  animation: l2 1.5s infinite linear;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #818df89b;
  animation: inherit;
  animation-delay: -0.5s;
}
.loader:after {
  animation-delay: -1s;
}
@keyframes l2 {
  100% {
    box-shadow: 0 0 0 40px #818df861;
  }
}
