<section class="flex w-full justify-center">
  <div class="w-full lg:w-[1024px]">
    <nav
      class="flex h-[70px] w-full items-center justify-between border-b border-solid border-neutral-200 px-5"
    >
      <div class="flex items-center gap-2">
        <img
          src="assets/images/logos/logo.png"
          alt="Logo"
          class="aspect-square w-[40px] object-contain object-center"
        />
        <p class="font-semi text-[16px] text-amber-700">Recaka POS</p>
      </div>

      <ul
        class="items-ceter flex gap-10 text-[12px] font-light text-neutral-900"
      >
        <li>Home</li>
        <li>Order List</li>
        <li>History</li>
        <li>Bills</li>
        <li>settings</li>
      </ul>

      <div class="flex gap-2">
        <p class="text-[10px] font-normal text-neutral-900">Gemara</p>
      </div>
    </nav>

    <div class="mt-5 flex gap-4 px-4">
      <div class="flex-1 overflow-x-hidden">
        <section id="order-list" class="mb-2 w-full">
          <div class="mb-2 flex w-full items-center justify-between">
            <h1 class="text-[19px] font-medium text-neutral-900">Order List</h1>
            <button
              class="flex h-[25px] items-center justify-center rounded-full bg-indigo-500 px-2"
            >
              <span class="text-[10px] font-normal text-white">View More</span>
            </button>
          </div>

          <div class="no-scrollbar flex w-full gap-3 overflow-x-auto">
            <ng-container *ngFor="let item of [1, 1, 1, 1, 1, 1]">
              <div
                class="w-[210px] flex-shrink-0 rounded-lg border border-solid border-neutral-200 px-3 py-2"
              >
                <div class="mb-2 flex w-full items-center justify-between">
                  <p class="text-[10px] font-medium text-neutral-500">
                    11/22/24 16.45
                  </p>
                  <p
                    class="rounded-lg bg-green-100 px-2 py-1 text-[8px] font-medium text-green-600"
                  >
                    Ready to serve
                  </p>
                </div>

                <h2 class="mb-2 text-[14px] font-medium text-neutral-900">
                  Wahyu
                </h2>

                <div class="flex w-full items-center justify-between">
                  <p class="text-[10px] font-medium text-neutral-500">
                    2 item - Table 12
                  </p>
                  <p class="text-[10px] font-medium text-neutral-900">
                    #DS1234
                  </p>
                </div>
              </div>
            </ng-container>
          </div>
        </section>

        <section id="list-menu" class="w-full">
          <div class="mb-2 flex w-full items-center justify-between">
            <h1 class="text-[19px] font-medium text-neutral-900">List Menu</h1>

            <div class="relative flex h-auto w-auto items-center">
              <input
                type="text"
                class="h-[25px] w-[200px] rounded-full border border-solid border-neutral-200 pl-5 pr-2 text-[10px] text-neutral-500 outline-none"
                placeholder="Search"
                [(ngModel)]="search"
                (keyup)="searchCategory()"
              />
              <img
                src="assets/images/icons/search.svg"
                alt="Search"
                class="absolute left-2 h-auto w-[10px]"
              />
            </div>
          </div>
          <div class="no-scrollbar mb-2 flex w-full gap-2 overflow-x-auto">
            <ng-container *ngFor="let category of dummySvc.categoryList">
              <button
                type="button"
                class="flex h-[25px] flex-shrink-0 items-center justify-center rounded-full border border-solid px-3 {{
                  category === categoryActive
                    ? 'text-indigo-500 bg-neutral-100 border-indigo-200'
                    : 'text-neutral-500 border-neutral-200'
                }}"
                (click)="selectCategory(category)"
              >
                <span class="text-[10px] font-normal capitalize">{{
                  category
                }}</span>
              </button>
            </ng-container>
          </div>
          <div
            class="no-scrollbar grid max-h-[calc(100vh-304px)] w-full grid-cols-3 gap-3 overflow-y-auto"
          >
            <ng-container *ngFor="let product of productList; index as i">
              <div
                class="aspect-[55/29] w-full rounded-lg border border-solid border-neutral-200 p-2"
              >
                <div class="mb-2 flex w-full items-center gap-2">
                  <div
                    class="flex aspect-square w-[70px] items-center justify-center overflow-hidden rounded-lg"
                  >
                    <img
                      [src]="
                        'https://loremflickr.com/400/' + (300 + i) + '/food'
                      "
                      [alt]="product.name"
                      class="h-full w-full object-cover object-center"
                    />
                  </div>
                  <div class="flex flex-1 flex-col justify-between">
                    <p class="text-[11px] font-medium text-neutral-900">
                      {{ product.name }}
                    </p>
                    <p
                      class="mb-1 text-[10px] font-medium capitalize text-neutral-500"
                    >
                      {{ product.category }}
                    </p>
                    <p class="text-[11px] font-medium text-neutral-900">
                      {{ formatPrice(product.price) }}
                    </p>
                  </div>
                </div>
                <div class="flex w-full items-center justify-between">
                  <button
                    type="button"
                    class="flex h-[20px] w-[20px] items-center justify-center rounded border border-solid border-neutral-200"
                    (click)="decreaseAmount(product)"
                  >
                    <span class="text-[18px] font-medium text-indigo-500"
                      >-</span
                    >
                  </button>
                  <span class="text-[10px] font-normal text-neutral-500">{{
                    product.amount
                  }}</span>
                  <button
                    type="button"
                    class="flex h-[20px] w-[20px] items-center justify-center rounded   {{
                      product.amount > 0
                        ? 'bg-indigo-500 text-white'
                        : 'border border-solid border-neutral-200 text-indigo-500'
                    }}"
                    (click)="increaseAmount(product)"
                  >
                    <span class="text-[13px] font-medium">+</span>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </section>
      </div>

      <section
        id="sidebar"
        class="relative h-[calc(100vh-100px)] w-[290px] rounded-lg border border-solid border-neutral-200 p-4"
      >
        <h1 class="mb-2 text-[16px] font-medium text-neutral-900">
          Order Detail
        </h1>

        <div
          class="mb-2 flex w-full items-center justify-between text-[11px] font-normal"
        >
          <p class="text-neutral-500">
            {{ productSelected.length }} items select
          </p>
          <p class="text-red-500" (click)="setShowClearAllModal()">Clear All</p>
        </div>

        <div
          class="no-scrollbar max-h-[calc(100%-260px)] w-full overflow-y-auto"
        >
          <ng-container *ngFor="let product of productSelected">
            <div class="mb-2 flex items-center gap-1 pr-2 last:mb-0">
              <div
                class="flex aspect-square w-[60px] items-center justify-center overflow-hidden rounded-lg"
              >
                <img
                  src="https://picsum.photos/100/100"
                  [alt]="product.name"
                  class="h-full w-full object-cover object-center"
                />
              </div>
              <div class="flex-1 flex-col justify-between">
                <p class="text-[12px] font-medium text-neutral-900">
                  {{ product.name }}
                </p>
                <p class="text-[10px] font-medium text-neutral-500">
                  {{ product.amount }} item
                </p>
                <div class="flex items-center justify-between">
                  <p class="text-[10px] font-medium text-neutral-500">
                    Sub Total:
                  </p>
                  <p class="text-[12px] font-medium text-neutral-900">
                    {{ formatPrice(product.amount * product.price) }}
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

        <div class="absolute bottom-4 left-0 right-0 w-full px-4">
          <div
            class="w-full rounded-lg border border-solid border-neutral-200 bg-neutral-100 p-3"
          >
            <div class="mb-3 flex w-full items-center justify-between">
              <h2 class="text-[12px] font-medium text-neutral-900">
                Payment Summary
              </h2>
              <img
                src="assets/images/icons/pencil-square.svg"
                alt="Note"
                class="w-[20px]"
              />
            </div>
            <div class="mb-[6px] flex items-center justify-between">
              <p class="text-[10px] font-normal text-neutral-500">Sub Total</p>
              <p class="text-[12px] font-medium text-neutral-900">
                {{ formatPrice(subTotal) }}
              </p>
            </div>
            <div class="mb-[6px] flex items-center justify-between">
              <p class="text-[10px] font-normal text-neutral-500">Tax (10%)</p>
              <p class="text-[12px] font-medium text-neutral-900">
                {{ formatPrice(tax) }}
              </p>
            </div>
            <div class="mb-[6px] flex items-center justify-between">
              <p class="text-[10px] font-normal text-neutral-500">Discount</p>
              <p class="text-[12px] font-medium text-neutral-900">
                -{{ formatPrice(discount) }}
              </p>
            </div>
            <div
              class="flex items-center justify-between border-t border-neutral-200 pt-[6px]"
            >
              <p class="text-[11px] font-normal text-neutral-900">
                Total Amount
              </p>
              <p class="text-[13px] font-semibold text-neutral-900">
                {{ formatPrice(totalAmount) }}
              </p>
            </div>
          </div>

          <button
            class="mt-2 flex h-[30px] w-full items-center justify-center rounded-md bg-indigo-500"
          >
            <span class="text-[11px] font-normal text-white"
              >Payment Process</span
            >
          </button>
        </div>
      </section>
    </div>
  </div>
</section>

<section
  id="clear-all-modal"
  class="fixed left-0 top-0 flex h-screen w-full items-center justify-center bg-black/50 duration-100 ease-linear transition-all {{
    isShowClearAllModal ? 'opacity-100 z-50' : 'opacity-0 -z-10'
  }}"
>
  <div class="w-[300px] overflow-hidden rounded-lg bg-white">
    <div
      class="relative flex w-full items-center justify-center pt-7 before:absolute before:z-20 before:aspect-square before:w-[40px] before:rounded-full before:bg-red-100 after:absolute after:z-10 after:aspect-square after:w-[50px] after:rounded-full after:bg-red-100/50"
    >
      <img
        src="assets/images/icons/exclamation-circle.svg"
        alt="Exclamation"
        class="relative z-30 aspect-square w-[25px]"
      />
    </div>

    <p
      class="mt-8 w-full text-center text-[13px] font-semibold text-neutral-900"
    >
      Are You Sure?
    </p>
    <p
      class="mt-2 w-full px-10 text-center text-[11px] font-medium text-neutral-700"
    >
      This action cannot be undone. Do you want to proceed?
    </p>

    <div
      class="mt-5 flex h-[60px] w-full items-center justify-center gap-3 bg-neutral-100"
    >
      <button
        type="button"
        class="flex h-[30px] w-[120px] items-center justify-center gap-3 rounded bg-white shadow-md"
        (click)="setShowClearAllModal()"
      >
        <img
          src="assets/images/icons/x-mark.svg"
          alt="Cancel"
          class="w-[13px]"
        />
        <span class="text-[11px] font-normal leading-[0px] text-neutral-900"
          >Cancel</span
        >
      </button>
      <button
        type="button"
        class="flex h-[30px] w-[120px] items-center justify-center gap-3 rounded bg-red-500 shadow-md"
        (click)="clearAll()"
      >
        <img
          src="assets/images/icons/trash.svg"
          alt="Cancel"
          class="w-[13px]"
        />
        <span class="text-[11px] font-normal leading-[0px] text-white"
          >Clear All</span
        >
      </button>
    </div>
  </div>
</section>

<section
  id="clear-all-modal"
  class="fixed left-0 top-0 flex h-screen w-full items-center justify-center bg-black/50 duration-100 ease-linear transition-all {{
    true ? 'opacity-100 z-50' : 'opacity-0 -z-10'
  }}"
>
  <div class="w-[400px] overflow-hidden rounded-lg bg-white">
    <div class="mt-3 px-5 text-[14px] font-semibold text-neutral-900">
      Note:
    </div>

    <div class="mt-3 w-full px-5">
      <textarea
        name="note"
        id="note"
        class="min-h-[150px] w-full rounded-lg border border-solid border-neutral-200 p-2 text-[12px] font-normal text-neutral-500 outline-none"
        placeholder="Write a note "
      ></textarea>
    </div>

    <div
      class="mt-5 flex h-[60px] w-full items-center justify-center gap-3 bg-neutral-100"
    >
      <button
        type="button"
        class="flex h-[30px] w-[150px] items-center justify-center gap-3 rounded bg-white shadow-md"
        (click)="setShowClearAllModal()"
      >
        <img
          src="assets/images/icons/x-mark.svg"
          alt="Close"
          class="w-[13px]"
        />
        <span class="text-[11px] font-normal leading-[0px] text-neutral-900"
          >Close</span
        >
      </button>
      <button
        type="button"
        class="flex h-[30px] w-[150px] items-center justify-center gap-3 rounded bg-indigo-500 shadow-md"
        (click)="clearAll()"
      >
        <img
          src="assets/images/icons/check.svg"
          alt="Cancel"
          class="w-[13px]"
        />
        <span class="text-[11px] font-normal leading-[0px] text-white"
          >Submit</span
        >
      </button>
    </div>
  </div>
</section>
